body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
background-image: url("https://www.shutterstock.com/shutterstock/photos/1648447711/display_1500/stock-vector-air-quality-index-poster-design-with-color-scales-illustration-1648447711.jpg");
   ;}
  
  h1 {
    text-align: center;
  }
  
  form {
    width: 50%;
    margin: 0 auto;
  }
  
  label {
    display: inline-block;
    width: 100px;
    text-align: right;
  }
  
  input[type=number] {
    width: 80px;
  }
  
  button {
    margin-left: 100px;
  }
  
  input[type=text] {
    width: 80px;
  }
  